<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>avi-no-bkgd.png">
    <title>B3PO Hello World</title>
    <meta name="description" content="B3PO is a web/web3 app developer with a background in security and automation. Currently studying machine learning and advanced encryption.">
    <meta name="keywords" content="B3PO, B3POio, web developer, app developer, vue, vuejs, node, nodejs, ">
    <meta name="author" content="B3PO">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@B3POio" />
    <meta name="twitter:creator" content="@B3POio" />
    <meta property="og:url" content="https://b3po.io" />
    <meta property="og:title" content="B3PO " />
    <meta property="og:description" content="B3PO is a web/web3 app developer with a background in security and automation. Currently studying machine learning and advanced encryption." />
    <meta property="og:image" content="" />
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
